<html>
	<head>
		<title>jsonp test</title>
		<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>		
		<script type="text/javascript">
            $(function(){				
                $('#select_link').click(function(e){
                    e.preventDefault();
                    console.log('select_link clicked');
                    
                     /*$.ajax({
                        dataType: 'jsonp',
                        data: "data=yeah",						
                        jsonp: 'callback',
                        url: 'http://localhost:3000/endpoint?callback=?',						
                        success: function(data) {
                            console.log('success');
                            console.log(JSON.stringify(data));
                        }
                    });*/
					var data = {};
					data.title = "title";
					data.message = "message";
					
					$.ajax({
                        type: 'POST',
				        contentType: 'application/json',
                        url: 'http://localhost:3000/userAccount/test',						
                        success: function(data) {
                            console.log('success');
                            console.log(data);
                            $('.test_data').append('<p> Your article was successfully added '+data['username']+'</p>');
                        }
                    });
					
                });				
            });
        </script>
    </head>
    <body>
        <div id="select_div"><a href="#" id="select_link">Test</a></div>    
        <div class="test_data"></div>
        
    </body>
</html>